﻿body{height:100%;}
.navbar{margin: 0px;}
.navbar-nav > li > a, .navbar-brand{padding-top: 4px !important;padding-bottom: 0 !important;height: 28px;}
.navbar{min-height: 28px !important;}
/* navbar */
.navbar{background: #324143;border: none;}
.navbar .nav > li > a{color: #EAFFED;background: #324143;}
.navbar .nav > li > a:hover{color: #EAFFED;background-color: #324143;}
.navbar .nav .active > a, .navbar .nav .active > a:hover{color: #EAFFED;background-color: #A9C251;}
.navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret{border-top-color: #fff;border-bottom-color: #fff;}
.navbar .nav > li.dropdown.open.active > a:hover {}
.navbar .nav > li.dropdown.open > a{color: #fff;background-color: #A9C251;border-color: #24313C;}
.navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret{border-top-color: #fff;}
.navbar .navbar-brand{color: #fff;}
.navbar .nav.pull-right{margin-left: 10px;margin-right: 0;}
.navbar-xs .navbar{min-height: 28px;height: 28px;}
.navbar-xs .navbar .navbar-brand{padding: 0px 12px;font-size: 16px;line-height: 28px;}
.navbar-xs .navbar .navbar-nav > li > a{padding-top: 0px;padding-bottom: 0px;line-height: 28px;}
.navbar-sm .navbar{min-height: 40px;height: 40px;}
.navbar-sm .navbar .navbar-brand{padding: 0px 12px;font-size: 16px;line-height: 40px;}
.navbar-sm .navbar .navbar-nav > li > a{padding-top: 0px;padding-bottom: 0px;line-height: 40px;}
/****************************/
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg{text-align: left;}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg{text-align: center;}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg{text-align: right;}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg{text-align: justify;}
        
@media (max-width: 767px)
{
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs{text-align: inherit;}
    .text-left-xs{text-align: left;}
    .text-center-xs{text-align: center;}
    .text-right-xs{text-align: right;}
    .text-justify-xs{text-align: justify;}
}
@media (min-width: 768px) and (max-width: 991px)
{
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm{text-align: inherit;}
    .text-left-sm{text-align: left;}
    .text-center-sm{text-align: center;}
    .text-right-sm{text-align: right;}
    .text-justify-sm{text-align: justify;}
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md{text-align: inherit;}
    .text-left-md{text-align: left;}
    .text-center-md{text-align: center;}
    .text-right-md{text-align: right;}
    .text-justify-md{text-align: justify;}
}
@media (min-width: 1200px)
{
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg{text-align: inherit;}
    .text-left-lg{text-align: left;}
    .text-center-lg{text-align: center;}
    .text-right-lg{text-align: right;}
    .text-justify-lg{text-align: justify;}
}
.vcenter{display: inline-block;vertical-align: middle;float: none;margin-right: -4px;}
/***********/
.footerContainer{background-color: #456f95;font-family: Arial,Sans-Serif,Serif;padding-top: 5px;padding-bottom: 5px;font-size: 10px;color: #fff;}
/************/
.footerLinks{color: #f0f0f0;text-align: right;vertical-align: middle;}
.footerLinks a:active, .footerLinks a:link, .footerLinks a:hover, .footerLinks a:visited{font-size: 11px;text-decoration: none;color: #fff;}
.footerLinks a:hover, .footerLinks a:active{text-decoration: underline;}
/**********/
#topHeaderLine{background-color: #456f95;height: 16px;}
#orangeLine{height: 6px; min-height: 6px;line-height: 6px; max-height: 6px; background-color: #ff4819;}
.fixedWidthContainer{margin: 0 auto; max-width: 980px;}
#navbarContainerOuter{background-color: #456f95;}

/*.field-validation-error
{
    color:Red;
}
.validation-summary-errors
{
    color:Red;
}
.input-validation-error
{
    background-color:#f0f0f0;
    border:1px solid red;
}*/
.pageheading
{
    color: Red;
    font-family: Arial;
    font-size: 16pt;
    color: Maroon;
    text-decoration:underline;
    font-weight:bold;
}



