<div class="container">
    <h3>Forgot Password</h3>
    <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">User ID:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="forgotuserid" placeholder="Your User ID" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
 ng-change="getQuestionForUserID()">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Security Question:</label>
          <div class="col-sm-10">
            {{secQuestion}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Answer:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="secAnswer" ng-disabled="!secQuestion" placeholder="Answer to Security Question">
          </div>
        </div>
    </form>
    <hr />
    <div class="col-sm-10">{{recoveredPassword}}</div>
    <hr />
    <button class="btn btn-success" ng-disabled="error || incomplete" ng-click="getPassForUserIDandAnswer()">
      Recover
    </button>
    <button class="btn btn-info">
      Reset
    </button>
    <a href="#/login"><button class="btn btn-danger">
      Cancel
    </button></a>

</div>
