<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome: User Management</title>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/homeStyle.css">
  <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="Scripts/app.js"></script>
	<script src="Scripts/mainController.js"></script>
	<script src="Scripts/loginController.js"></script>
	<script src="Scripts/signupController.js"></script>
	<script src="Scripts/logoutController.js"></script>
	<script src="Scripts/forgotpasswordController.js"></script>
  <script>
  </script>
</head>
<body ng-app="single-page-app" ng-init="userid='guest'" ng-controller="mainController">
  <div class="container-fluid">
        <div class="row" id="row1">
            <div id="topHeaderLine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            </div>
        </div>
        <div class="row" id="row2">
            <div class="fixedWidthContainer">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
                    <a href="#">
                        <img id="logoImage" alt="" src="images/logo.png" style="width: 100%; height: 100%"
                             align="left" hspace="0" vspace="0" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left-xs text-right-sm text-right-md text-right-lg vcenter">

                  <div id="welcomeMessage">
                      <label>Welcome {{usrID}}:{{usrType}}</label><br />
                      <label>{{usrLastLogin}}</label>
                  </div>

                </div>
            </div>
        </div>
        <div class="row" id="row3">
            <div id="orangeLine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            </div>
        </div>
        <div class="row" id="row4">
            <div id="navbarContainerOuter" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="fixedWidthContainer">
                    <nav role="navigation" class="navbar navbar-inverse">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collection of nav links, forms, and other content for toggling -->
                        <div id="navbarCollapse" class="collapse navbar-collapse">

                          <!-- top menu start here    -->
                          <div id="headerMenuContainer">    
                              <ul class="nav navbar-nav" ng-repeat="m in mainMenu">
                                  <li><a href="#{{m.url}}">{{m.lable}}</a></li>
                              </ul>
                              <div class="clear">
                              </div>
                          </div>
                          <!-- top menu end here  -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row" id="row5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="fixedWidthContainer" style="background-color: #fff; border: solid 1px #f0f0f0;
                     min-height: 410px; padding: 10px 10px 10px 10px;">

        <!-- <div > -->
          <div ng-view class="jumbotron"></div>
        <!-- </div> -->

<!-- Footer start here -->  
      </div>
    </div>
  </div>
  <div class="row footerContainer" id="row6">
      <div class="fixedWidthContainer">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
              &copy; 2015 <a href="http://domainname.com" style="color: #fff;">&lt;&lt;Company Name&gt;&gt;</a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left-xs text-right-sm text-right-md text-right-lg vcenter">
              <span class="footerLinks">
                  <a href="#">Disclaimer</a> | <a href="#">
                      Privacy Policy
                  </a> | <a href="#">Copyright</a> | <a href="#">
                      Site map
                  </a>
              </span>
          </div>
      </div>
  </div>
</div>
</div>
</body>
</html>
