  <div class="container">
      <h3>Login to Your Account</h3>
      <form class="form-horizontal">
          <div class="form-group">
              <label class="col-sm-2 control-label">User ID:</label>
              <div class="col-sm-10">
                <input type="text" ng-model="userid" placeholder="Your user ID" />
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" ng-model="password" placeholder="Your Password" />
              </div>
          </div>
      </form>
      <hr />

      <button ng-click="processLogin()" class="btn btn-success" ng-disabled="error || incomplete">
        Login
      </button>
      <hr />
      New User <a href="#/signup">Sign Up</a><br/>
      Forgot Password <a href="#/forgotpassword">Click Here</a>
  </div>
