        <div class="container" ng-controller="signupController">
            <h3>Signup for a New Account</h3>
            <hr>
            <h3 ng-show="edit">Signup for an Account</h3>

            <form class="form-horizontal" name="userForm" ng-submit="submitForm()" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="Id" placeholder="Id" value="a">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="Name" placeholder="Name" value="a">
                    </div>
                </div>
				 <div class="form-group">
                    <label class="col-sm-2 control-label">Age:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="Age" placeholder="Age" value="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="passw1" placeholder="Password" value="a">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Repeat:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="passw2" placeholder="Repeat Password" value="a">
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
	             <div class="col-sm-10">
                    <input type="email" name="email" ng-model="email" placeholder="Your Email Address"  value="a@a.com" ng-required="true">
		    </div>
                </div>

                <!-- CONTACTNO -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contact No</label>
	             <div class="col-sm-10">
                    <input type="contactno" name="contactno" ng-model="contactno" placeholder="Your Contact no"  value="9876543210" ng-required="true">
		    </div>
                </div>

                <!-- COUNTRY -->
                <!-- COUNTRY -->
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Country</label>
 		<div class="col-sm-10">                   
		<select name="country" 
                            ng-model="country"
                            ng-options="country.CountryId as country.Name for country in countryList"
                            ng-required="true">
                        <option value=''>Select</option>
                    </select>
                </div>
		</div>
                <!-- CITY -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">city</label>
	             <div class="col-sm-10">
	                   <select name="city" 
                            ng-model="city"
                            ng-options="city.CityId as city.Name for city in cityList"
                            ng-required="true">
                        <option value=''>Select</option>
                    </select>
 		    </div>
                </div>


                <!-- ng-disabled FOR ENABLING AND DISABLING SUBMIT BUTTON -->
                <!--<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Register</button>-->
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <hr>
        </div>
